<app-page-header
  title="Contacts"
  icon="bi bi-people-fill"
  description="company employees details"
>
</app-page-header>

<table class="table table-bordered align-middle mt-3">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>Phones</th>
    </tr>
  </thead>
  <tbody *ngIf="contacts.length; else noContacts">
    <tr *ngFor="let contact of contacts; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ contact.name | titlecase }}</td>
      <td>
        <a [href]="'mailto:' + contact.email">{{
          contact.email | lowercase
        }}</a>
      </td>
      <td>{{ contact.birthday | date: "dd.MM.yyyy" }}</td>
      <td>
        <ul *ngIf="contact.phones.length; else noPhones">
          <li *ngFor="let phone of contact.phones; index as i">
            <a [href]="'tel:' + phone">{{ phone }} </a>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noContacts>
  <h1>NO CONTACTS</h1>
</ng-template>
<ng-template #noPhones>
  <ul>
    <li>no phones</li>
  </ul>
</ng-template>
